<h1 class="stand_h1">Academic standing - MIDDLE SCHOOL</h1>
<div class="stand_desc">
    <b>Achievement</b> is a direct measure of the competence a student has shown in terms of skills, knowledge, and understanding for the course.
    Achievement marks are 1-7, NG (No Grade), and INC (Incomplete)
</div>
<div>
    Standings
    <ol class="stand_list">
        <li>Honors</li>
        <li>Good</li>
        <li>Probation</li>
    </ol>
</div>
<div class="stand_note">
    -To earn 'Honors' status a student must earn all '5's or above in all courses. One '4' can be replaced by one '6' per class.<br>
    -To earn 'Probationary' status, a student earns four '3's or below in any one course, and/or if a students earns an 'INC' in any course.<br>
    -NG (no grade) is not calculated.
</div>
<div class="stand_desc">  
    <b>Effort</b> is the student's attitude, preparation, motivation and focus on learning, which will enable a student to demonstrate her/his academic achievement.
</div>
<div>
    Standings
    <ol class="stand_list">
        <li>Honors (Principal's List)</li>
        <li>Good</li>
        <li>Probation</li>
    </ol>
</div>
<div class="stand_note">
    -To earn 'Honors' (Principal's List) status for effort, a student must earn all 'good' marks or above in all courses combined.<br>
    -To earn 'Probationary' status, a student earns two or more 'unacceptable' marks in all course combined.
</div>
