<h1 class="stand_h1">Academic standing - MIDDLE SCHOOL</h1>
<div class="stand_desc">
    <b>Achievement</b> is a direct measure of the competence a student has shown in terms of skills, knowledge, and understanding for the course.
    Achievement marks are 1-7, NG (No Grade), and INC (Incomplete)
</div>
<div>
    Standings
    <ol class="stand_list">
        <li>Honors</li>
        <li>Good</li>
        <li>Monitoring</li>
    </ol>
</div>
<div class="stand_note">
    -To earn 'Honors' status a student must earn all '5's or above in all courses.A '4' can be exchanged with any '6' or '7'.<br>
    -To earn 'Monitoring' status, a student earns four '3's or below in any one course, and/or if a students earns an 'INC' in any course.<br>
    -NG (no grade) is not calculated.
</div>
<div class="stand_desc">  
    <b>Effort</b> is the student's attitude, preparation, motivation and focus on learning, which will enable a student to demonstrate her/his academic achievement.
</div>
<div>
    Standings
    <ol class="stand_list">
        <li>Honors</li>
        <li>Good</li>
        <li>Monitoring</li>
    </ol>
</div>
<div class="stand_note">
    -To earn 'Honors' status for effort, a student must earn all 'Good' effort marks(or above) in all courses combined.<br>
    -To earn 'Monitoring' status, a student earns two or more 'Unacceptable' effort marks in all course combined.
</div>
Definitions
<div class="stand_desc">  
    <b>Honors -</b> A student achieves distinction in achievement or effort across all disciplines.
    Students who achieve honors will receive a certificate at the semester assembly to recognize this accomplishment,
    and their names will be published in the <span style="font-style:italic">Yezare Samint</span>.
</div>
<div class="stand_desc">  
    <b>Good </b> A student is in good standing in both achievement and/or effort.
</div>
<div class="stand_desc">  
    <b>Monitoring </b> A student is demonstrating the need for support in one or more course areas.
</div>
