        <div class="desc_body">
        <div class="desc_container">
            <div class="desc_header">
                <span class="he1">Academic Achievement Grade Descriptors - Grades 6-12</span>
                <span class="desc_he2"><br>The scale defines specific levels of achievement in relation to subject specific assessment criteria.</span>
            </div>
            <div class="desc_title">
                Exceeds Standard
            </div>
            <div class="desc_table">
                <div class="desc_containt">
                    <div class="desc_value">
                        7
                    </div>
                    <div class="desc_descr">
                        A consistent and thorough understanding of the required knowledge and skills, and the ability to apply them almost faultlessly in a wide variety of situations.
                        Consistent evidence of analysis, synthesis and evaluation where appropriate. The student consistently demonstrates originality and insight and always produces work of high quality.
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value">
                        6
                    </div>
                    <div class="desc_descr">
                        A consistent and thorough understanding of the required knowledge and skills, and the ability to apply them in a wide variety of situations.
                        Consistent evidence of analysis, synthesis and evaluation where appropriate. The student generally demonstrates originality and insight.
                    </div>
                </div>
            </div>
            <div class="desc_title">
                Meets Standard
            </div>
            <div class="desc_table">
                <div class="desc_containt">
                    <div class="desc_value">
                        5
                    </div>
                    <div class="desc_descr">
                        A consistent and thorough understanding of the required knowledge and skills, and the ability to apply them in a variety of situations.
                        The student generally shows evidence of analysis, synthesis and evaluation where appropriate and occasionally demonstrates originality and insight.
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value">
                        4
                    </div>
                    <div class="desc_descr">
                        A good general understanding of the required knowledge and skills, and the ability to apply them effectively in normal situations.
                        There is occasional evidence of the skills of analysis, synthesis and evaluation.
                    </div>
                </div>
            </div>
            <div class="desc_title">
                Approaching Standard
            </div>
            <div class="desc_table">
                <div class="desc_containt">
                    <div class="desc_value">
                        3
                    </div>
                    <div class="desc_descr">
                        Limited achievement against most of the objectives, or clear difficulties in some areas.
                        The student demonstrates a limited understanding of the required knowledge and skills and is only able to apply them fully in normal situations with support.
                    </div>
                </div>
            </div>
            <div class="desc_title">
                Does Not Meet Standard
            </div>
            <div class="desc_table">
                <div class="desc_containt">
                    <div class="desc_value">
                        2
                    </div>
                    <div class="desc_descr">
                        Very limited achievement against objectives.
                        The student has difficulty in understanding the required knowledge and skills, and is unable to apply them fully in normal situations, even with support.
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value">
                        1
                    </div>
                    <div class="desc_descr">
                        Minimal achievement in terms of the objectives.
                    </div>
                </div>
            </div>
            <div class="desc_header">
                <span class="he1">Effort Grade Descriptors: The Student as Learner Grades 6-12</span>
                <span class="desc_he2"><br>The <b>Effort Grade</b> reflects the student's attitude, preparation, motivation and focus on learning,<br> which will enable a student to demonstrate her/his academic achievement.</span>
            </div>
            <div class="desc_table">
                <div class="desc_containt">
                    <div class="desc_value2">
                        <span class="desc_rot">Excellent</span>
                    </div>
                    <div class="desc_descr2">
                    <span class="desc_ind_p">Always on task/engaged with and focused on assigned learning without teacher influence being necessary; seeks out additional learning opportunities beyond those immediately given in a lesson.</span>
                    <br><span class="desc_ind_p">Always exhibits a positive and respectful attitude towards classroom rules and expectations; no teacher influence required.</span>
                    <br><span class="desc_ind_p">Always comes to class prepared in every way needed, including homework, and accomplishes this with no outside monitoring needed.</span>
                    <br><span class="desc_ind_p">Is always on time for class and ready to begin with the teachers is; whenever late, always has a late slip to justify such lateness.</span>
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value2">
                        <span class="desc_rot">Good</span>
                    </div>
                    <div class="desc_descr2">
                    <span class="desc_ind_p">Almost always on task/engaged with and focused on assigned learning without teacher influence being necessary; occasionally may seek out additional learning opportunities beyond those immediately given in a lesson.</span>
                    <br><span class="desc_ind_p">Almost always exhibits a positive and respectful attitude towards classroom rules and expectations; teacher influence rarely required.</span>
                    <br><span class="desc_ind_p">Almost always comes to class prepared in every way needed; accomplishes this with little to no outside monitoring needed.</span>
                    <br><span class="desc_ind_p">Is almost always on time for class and ready to begin when the teacher is; whenever late, has a late slip to justify such lateness.</span>
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value2">
                        <span class="desc_rot">Satisfactory</span>
                    </div>
                    <div class="desc_descr2">
                    <span class="desc_ind_p">Is generally and satisfactorily on task/engaged with and focused on assigned learning without undue teacher influence being necessary.</span>
                    <br><span class="desc_ind_p">Generally exhibits a positive and respectful attitude towards classroom rules and expectations, whether internally or externally motivated to do so.</span>
                    <br><span class="desc_ind_p">Generally comes to class prepared in every way needed, and accomplishes this with little outside monitoring needed.</span>
                    <br><span class="desc_ind_p">Is usually on time for class and ready to begin when the teacher is; whenever late, has a late slip to justify such lateness.</span>
                    </div>
                </div>
                
            
                <div class="desc_containt">
                    <div class="desc_value2">
                        <span class="desc_rot">Mediocre</span>
                    </div>
                    <div class="desc_descr2">
                    <span class="desc_ind_p">Though at times meets this criterion, is not often enough on task/engaged with and focused on assigned learning without undue teacher influence being necessary.</span>
                    <br><span class="desc_ind_p">Though at times meets this criterion, does not often enough exhibit a positive and respectful attitude towards classroom rules and expectations, whether internally or externally motivated to do so.</span>
                    <br><span class="desc_ind_p">Too often, does not come to class prepared in every way needed, and requires outside monitoring to make this happen to a reasonable degree.</span>
                    <br><span class="desc_ind_p">Is repeatedly late for class and not ready to begin when the teacher is; whenever late, does not always have a late slip or is unexcused.</span>
                    </div>
                </div>
                <div class="desc_containt">
                    <div class="desc_value2" style="height:100px;">
                        <span class="desc_rot">Unacceptable</span>
                    </div>
                    <div class="desc_descr2">
                    <span class="desc_ind_p">Rarely on task/engaged with and focused on assigned learning, even with teacher influence.</span>
                    <br><span class="desc_ind_p">Rarely exhibits a positive and respectful attitude towards classroom rules and expectations.</span>
                    <br><span class="desc_ind_p">Rarely comes to class prepared in every way needed, even with outside monitoring.</span>
                    <br><span class="desc_ind_p">Is regularly late for class and not ready to begin when the teacher is; whenever late, often does not have a late slip or is unexcused.</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
