<div class="cover_h_bar">.</div>
<div class="cover_logo">
  <img src="eagle logo.jpg" alt="Eagle ICS" height="100%"/>
</div>
<div class="cover_date">
   <div class="cover_month">December</div> <div class="cover_year">11</div>
</div>
<div class="cover_containt">
  <div class="cover_text">
      <b>Purpose of the ICS Middle School Report Card</b><br>
      The primary purpose for reporting is to communicate student achievement and effort to parents.
      The reports document student performance over a period, and provide feedback regarding concern and strengths.
      Accountability for learning is shared by students, parents and teachers.
      The intent of the reports are to provide a common understanding of the student's progress and facilitate next steps
  </div><br><br><br><br>
  <div class="cover_h_bar2">Semester Report for: <span style="color: black"><%= student.fullName %></span></div><div class="cover_h_bar3">.</div>
</div>

