<div class="q3_ms_cover_h_bar">.</div>
<div class="cover_logo">
  <img src="../eagle logo small.jpg" alt="Eagle ICS" />
</div>
<div class="cover_date">
   <div class="cover_month">HIGH SCHOOL INTERIM REPORT<br /><br />May 2012</div>
</div><br />


