<h1>Editing comment for <%= @section_comment.section.course.name + " - Block " + @section_comment.section.schedules.first.block.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @section_comment %> |
<%= link_to 'Back', :back %>
