// Place all the styles related to the InterimGrades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media print {
    .print-only {
        display: block;
    }
    .non-print {
        display: none;
    }

}
div#signature {
	padding-top: 50px;
}

